.masthead {
    background-image: url("https://assets.bonappetit.com/photos/5c366551f212512d0e6cefd0/16:9/w_2560%2Cc_limit/Basically-Coffee-0219-03.jpg");
    height: 100vh;
    min-height: 500px;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat; 

}

#container-main .container {
    width: 70vw;
    margin: 100px auto;
}

#container-main h1 {
    font-size: 2em;
    margin: 20px 0;
}

#product-container .card-img-top {
    width: 350px;
    height: 350px
}

#seasonal-offers {
    background-image: url("https://ak9.picdn.net/shutterstock/videos/1016303029/thumb/1.jpg");
}

#seasonal-offers .card {
    margin: 0 20%;
    padding: 50px 0;
}